<div class="card_info">
    <div class="card_details">
        <ul>
            <li><%= card.number %></li>
            <li><%= card.exp_month %></li>
            <li><%= card.exp_year %></li>
        </ul>
    </div>
</div>