<div class="card_info">
    <div class="card_details">
        <ul>
            <% @card.each do |card| %>
            <li><%= card.card_number =%></li>
            <% end %>
        </ul>
    </div>
</div>